src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a413f1b2-0af1-4ff3-aae5-b82c59e6ab2b" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bf50af60-7358-42dc-8935-d976e51eb1ce" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="muleappFlow" doc:id="456a2080-160a-4c4e-b677-4853c6e53749" >
		<http:listener doc:name="Listener" doc:id="6875c4fc-e587-4b9e-be24-61225df22661" config-ref="HTTP_Listener_config" path="/[region]/[city]"/>
		<http:request method="GET" doc:name="Request" doc:id="c813d44b-f9e9-4a1f-a036-be26a6ba4506" config-ref="HTTP_Request_configuration" path="/[region]/[city]">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
